<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="hosts" value=""/>
    <add key="to" value="" />
    <add key="cc" value="" />
    <add key="from" value="" />
    <add key="subject" value="" />
    <add key="smtpHost" value="" />
    <add key="port" value="" />
    <add key="body" value="" />
  </appSettings>
</configuration>